<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      i18n:domain="tracmetrix"
      py:with="milestone_selected=defined('milestone')">
  <xi:include href="layout.html" />

  <py:choose test="milestone_selected">
    <head py:when="True">
      <title i18n:msg="name">Milestone metrics: ${milestone.name}</title>
      <!-- Dependencies -->
      <script type="text/javascript" src="${yui_base_url}/build/yahoo-dom-event/yahoo-dom-event.js"></script>
      <script type="text/javascript" src="${yui_base_url}/build/element/element-min.js"></script>
      <script type="text/javascript" src="${yui_base_url}/build/datasource/datasource-min.js"></script>
      <script type="text/javascript" src="${yui_base_url}/build/json/json-min.js"></script>
      <!-- OPTIONAL: Connection (enables XHR) -->
      <script type="text/javascript" src="${yui_base_url}/build/connection/connection-min.js"></script>
      <!-- Source files -->
      <script type="text/javascript" src="${yui_base_url}/build/charts/charts-min.js"></script>
      <script type="text/javascript">
          YAHOO.widget.Chart.SWFURL = "${yui_base_url}/build/charts/assets/charts.swf";
      </script>
    </head>
    <head py:otherwise="">
      <title>Milestone metrics</title>
    </head>
  </py:choose>

  <body py:choose="milestone_selected">

    <div py:when="True" id="content" class="milestone">
      <h1 i18n:msg="name">Milestone metrics: <a href="${href.milestone(milestone.name)}">${milestone.name}</a></h1>

      <div class="report-wrapper">
        <py:choose>
          <p py:when="milestone.completed" class="date">
            <i18n:msg params="duration, date">
              Completed ${dateinfo(milestone.completed)} ago (${format_datetime(milestone.completed)})
            </i18n:msg>
          </p>
          <p py:when="milestone.is_late" class="date">
            <i18n:msg params="duration, date">
              <strong>${dateinfo(milestone.due)} late</strong> (${format_datetime(milestone.due)})
            </i18n:msg>
          </p>
          <p py:when="milestone.due" class="date">
            <i18n:msg params="duration, date">
              Due in ${dateinfo(milestone.due)} (${format_datetime(milestone.due)})
            </i18n:msg>
          </p>
          <p py:otherwise="" class="date">
            No date set
          </p>
          <br />
        </py:choose>

        <h2>Ticket Status Summary</h2>
        <br />
        <div py:if="stats.count" class="info">
          <xi:include href="progress_bar.html"/>
        </div>

        <h2>Ticket Type Summary</h2>
        <br />
        <div py:if="ticketstat.stats.count" class="info">
          <xi:include href="progress_bar.html"
              py:with="stats = ticketstat.stats;
              interval_hrefs = ticketstat.interval_hrefs;
              stats_href = ticketstat.stats_href;"/>
        </div>

      </div>

      <div class="report-wrapper">
        <h2>Ticket History</h2>
        <p i18n:msg="">
          <strong>Entered tickets</strong> — tickets created in this milestone or tickets retargeted
          to this milestone from others.<br/>
          <strong>Left tickets</strong> — tickets moved from this milestone to others.<br/>
          <strong>Completed tickets</strong> — tickets completed in this milestone (or previously
          in other milestones).<br/>
        </p>
        <div id="cumulative_flow" class="graph" style="width: 640px; height: 480px;"></div>
        <div class="data-table">
          <table cellpadding="0" cellspacing="1">
            <thead>
              <tr>
                <th>Date</th>
                <th>Enter</th>
                <th>Leave</th>
                <th >Completed</th>
              </tr>
            </thead>
            <tbody>
              <tr py:for="idx, date in enumerate(dates)" class="date">
                <td>${format_date(date,tzinfo=utc)}</td>
                <td>${tickethistory['Enter'][idx]}</td>
                <td>${tickethistory['Leave'][idx]}</td>
                <td>${tickethistory['Finish'][idx]}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <script type = "text/javascript">
        //--- data
        var tickethistory = $dscumulative;

        var ds = new YAHOO.util.DataSource(tickethistory);
        ds.responseType = YAHOO.util.DataSource.TYPE_JSARRAY;
        ds.responseSchema = {
            fields : ["date", "enter", "leave", "finish"]
        };

        var seriesDef = [{
            displayName : "${_('Ticket Entered')}",
            yField : "enter",
            style : {
                color : 0x0000FF
            }
        }, {
            displayName : "${_('Ticket Left')}",
            yField : "leave",
            style : {
                color : 0xFF0000
            }
        }, {
            displayName : "${_('Ticket Completed')}",
            yField : "finish",
            style : {
                color : 0x4AA02C
            }
        }];

        //--- chart
        var mychart = new YAHOO.widget.LineChart("cumulative_flow", ds, {
            xField : "date",
            series : seriesDef,
            style : {
                legend : {
                    display : "bottom"
                },
                xAxis : {
                    labelRotation : -60
                }
            }
        });
      </script>

    </div>

    <div py:otherwise="" id="content">
      <p>Please, select milestone to view statistics for:</p>
      <ul>
        <li py:for="m in milestones">
          <a href="${href.mdashboard(m.name)}">${m.name}</a>
        </li>
      </ul>
    </div>

  </body>
</html>
