<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      i18n:domain="tracmetrix">
  <xi:include href="layout.html" />
  <head>
    <title>Project Metrics</title>
    <!-- Dependencies -->
    <script type="text/javascript" src="${yui_base_url}/build/yahoo-dom-event/yahoo-dom-event.js"></script>
    <script type="text/javascript" src="${yui_base_url}/build/element/element-min.js"></script>
    <script type="text/javascript" src="${yui_base_url}/build/datasource/datasource-min.js"></script>
    <script type="text/javascript" src="${yui_base_url}/build/json/json-min.js"></script>
    <!-- OPTIONAL: Connection (enables XHR) -->
    <script type="text/javascript" src="${yui_base_url}/build/connection/connection-min.js"></script>
    <!-- Source files -->
    <script type="text/javascript" src="${yui_base_url}/build/charts/charts-min.js"></script>
    <script type="text/javascript">
        YAHOO.widget.Chart.SWFURL = "${yui_base_url}/build/charts/assets/charts.swf";
    </script>
  </head>

  <body>
    <div id="content" class="pdashboard">
      <h1>Project Metrics</h1>

      <form id="prefs" method="get" action="">
        <div>
          <input type="checkbox" id="showall" name="show" value="all"
          checked="${showall or None}" />
          <label for="showall">Show completed milestones</label>
        </div>
        <div>
          <input type="checkbox" id="showmetrics" name="showmetrics" value="true"
          checked="${showmetrics or None}" />
          <label for="showmetrics">
            Show all metrics<br />
            (Warning: The all metrics can take long time to generate.)
          </label>
        </div>
        <br />
        <div i18n:msg="">
          <label>View statistics from <input type="text" size="10" name="from" value="${format_date(fromdate)}" /></label> <br />
          and <label><input type="text" size="3" name="daysback" value="$daysback" /> days back</label>
        </div>
        <div class="buttons">
          <input type="submit" value="${_('Update')}" />
        </div>
      </form>

      <div class="info">
        <h2>Project Tickets Summary</h2>
        <br/>
        <b>Tickets by Status</b>
        <py:if test="proj_progress_stat.stats.count">
          <xi:include href="progress_bar.html"
              py:with="stats = proj_progress_stat.stats;
              interval_hrefs = proj_progress_stat.interval_hrefs;
              stats_href = proj_progress_stat.stats_href;"/>
        </py:if>
        <br/>
        <b>Closed Tickets by Resolution</b>
        <py:if test="proj_progress_stat.stats.count">
          <xi:include href="progress_bar.html"
              py:with="stats = proj_closed_stat.stats;
              interval_hrefs = proj_closed_stat.interval_hrefs;
              stats_href = proj_closed_stat.stats_href;"/>
        </py:if>
      </div>
      <br/>

      <div class="info">
        <h2>Milestone Summary</h2>
        <table class="listing milestone">
          <thead>
            <tr>
              <th class="style1">Milestone</th>
              <th>Status</th>
              <th>New</th>
              <th>In-progress</th>
              <th>Completed</th>
              <th>Total</th>
              <th>Completion</th>
            </tr>
          </thead>
          <tbody>
            <tr py:for="idx, milestone in enumerate(milestones)" class="milestone"
            py:with="mstats = milestone_stats[idx]">
              <td><a href="${href.mdashboard(milestone.name)}">${milestone.name}</a></td>
              <td>
                <py:choose>
                  <p py:when="milestone.completed" class="date">
                    <i18n:msg params="duration, date">
                      Completed ${dateinfo(milestone.completed)} ago (${format_datetime(milestone.completed)})
                    </i18n:msg>
                  </p>
                  <p py:when="milestone.is_late" class="date">
                    <i18n:msg params="duration, date">
                      <strong>${dateinfo(milestone.due)} late</strong> (${format_datetime(milestone.due)})
                    </i18n:msg>
                  </p>
                  <p py:when="milestone.due" class="date">
                    <i18n:msg params="duration, date">
                      Due in ${dateinfo(milestone.due)} (${format_datetime(milestone.due)})
                    </i18n:msg>
                  </p>
                  <p py:otherwise="" class="date">
                    No date set
                  </p>
                </py:choose>
              </td>
              <td><a href="${mstats.interval_hrefs[2]}">${mstats.stats.intervals[2].count}</a></td>
              <td><a href="${mstats.interval_hrefs[1]}">${mstats.stats.intervals[1].count}</a></td>
              <td><a href="${mstats.interval_hrefs[0]}">${mstats.stats.intervals[0].count}</a></td>
              <td><a href="${mstats.stats_href}">${sum([x.count for x in mstats.stats.intervals], 0)}</a></td>
              <td>${'%d%%' % mstats.stats.done_percent}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <br/>

      <div class="info">
        <h2>Repository Statistics</h2>
        <div id="commits_per_day" style="width: 640px; height: 480px;"></div>
        <script type = "text/javascript">
            //--- data
            var commitperday = $ds_commit_by_date
            var ds = new YAHOO.util.DataSource(commitperday);
            ds.responseType = YAHOO.util.DataSource.TYPE_JSARRAY;
            ds.responseSchema = {
                fields : ["date", "commits"]
            };
            var seriesDef = [{
                displayName : "${_('Commits')}",
                yField : "commits",
                style : {
                    color : 0x9966ff
                }
            }];
            //--- chart
            var mychart = new YAHOO.widget.StackedColumnChart("commits_per_day", ds, {
                xField : "date",
                series : seriesDef,
                style : {
                    legend : {
                        display : "bottom"
                    },
                    xAxis : {
                        labelRotation : -60
                    }
                }
            });
        </script>
      </div>
      <br/>
      <br/>
      <py:if test="showmetrics">
        <div class="info">
          <h2>Project Backlog Metrics</h2>
          <h3>Daily Backlog Statistics</h3>
          <div id="daily_backlog" style="width: 640px; height: 480px;"></div>
          <script type = "text/javascript">
            //--- data
            var tickethistory = $ds_daily_backlog
            var ds = new YAHOO.util.DataSource(tickethistory);
            ds.responseType = YAHOO.util.DataSource.TYPE_JSARRAY;
            ds.responseSchema = {
                fields : ["date", "opened", "closed", "created"]
            };
            var seriesDef = [{
                type : "line",
                displayName : "${_('Opened Tickets Count')}",
                yField : "opened",
                style : {
                    color : 0x0000FF
                }
            }, {
                displayName : "${_('Close Tickets Events')}",
                yField : "closed",
                style : {
                    color : 0xbae0ba
                }
            }, {
                displayName : "${_('New/Open Tickets Events')}",
                yField : "created",
                style : {
                    color : 0x9966ff
                }
            }];
            //--- chart
            var mychart = new YAHOO.widget.StackedColumnChart("daily_backlog", ds, {
                xField : "date",
                series : seriesDef,
                style : {
                    legend : {
                        display : "bottom"
                    },
                    xAxis : {
                        labelRotation : -60
                    }
                }
            });
          </script>
          <h3>Weekly Backlog Statistics</h3>
          <table class="listing project stats">
            <thead>
              <tr>
                <th>Date</th>
                <th>Ticket Created</th>
                <th>Ticket Opened</th>
                <th>Ticket Closed</th>
                <th i18n:msg="BMI_abbr"><abbr title="${_('Backlog Management Index')}">BMI</abbr> Index<br/>(Closed/Opened)</th>
              </tr>
            </thead>
            <tbody>
              <tr py:for="bmi in project_bmi_stats" >
                <td>${bmi[0]}</td>
                <td>${len(bmi[1])} <br/> ${wiki_to_oneliner(context, ', '.join(['#%s' % i for i in bmi[1]]))}</td>
                <td>${len(bmi[2])} <br/> ${wiki_to_oneliner(context, ', '.join(['#%s' % i for i in bmi[2]]))}</td>
                <td>${len(bmi[3])} <br/> ${wiki_to_oneliner(context, ', '.join(['#%s' % i for i in bmi[3]]))}</td>
                <td>${"%.2f %%" % (bmi[4])}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <br/>

        <div class="info">
          <h2>Tickets Statistics</h2>
          <table class="listing milestone">
            <thead>
              <tr>
                <th class="style1">Metrics</th>
                <th>Mean</th>
                <th>Median</th>
                <th>Max</th>
                <th>Min</th>
                <th>Std. Dev.</th>
              </tr>
            </thead>
            <tbody>
              <tr py:for="key in ticket_duration_stats" class="statistics">
                <th class="style1">${key}</th>
                <td py:for="val in ticket_duration_stats[key]">
                <py:if test="val is not None">
                  ${pretty_timedelta(0, val)}
                </py:if></td>
              </tr>
              <tr py:for="key in ticket_frequency_stats" class="statistics">
                <th class="style1">${key}</th>
                <td py:for="val in ticket_frequency_stats[key]">
                <py:if test="val is not None">
                  ${"%.4f" % val}
                </py:if></td>
              </tr>
            </tbody>
          </table>
        </div>

      </py:if>

    </div>

  </body>

</html>
