#prefs fieldset {
    margin-bottom: 1em;
    border-top: 1px solid #333333;
}
#prefs fieldset legend {
    margin: 0 0 0.5em;
    padding-right: 0.5em;
}
#prefs fieldset > label {
    display: block;
}
#prefs fieldset label.subpref {
    margin-left: 1em;
}

.pdashboard table.project { white-space: normal; }
.pdashboard table.project th { vertical-align: middle; }

.listing.auto-width { width: auto; clear: left; }

.report-wrapper .milestone {
    margin: 0 0 1em;
}

table.progress td.value { background: #bae0ba }
table.progress td.waste { background: #ff8888 }

/* Stractistics styles */

.report-wrapper {
    margin-bottom: 30px;
    padding: 10px 20px 10px 0px;
    clear: left;
}

.report-wrapper h2 {
    color: #000;
    background: #F7F7F7 none repeat scroll 0%;
    border-bottom: 1px solid #D7D7D7;
    margin: 0;
}

.report-wrapper h2 em {
    color: #b00;
    font-style: normal;
}

.report-wrapper .clear {
    line-height: 1px;
    clear: both;
}

.report-wrapper .graph {
    position: relative;
    float: left;
    margin-right: 20px;
    margin-top: 10px;
}

.report-wrapper .data-table {
    position: relative;
    float: left;
    margin-top: 10px;
}

.report-wrapper .data-table table {
    background-color: #CCC;
}

.report-wrapper .data-table th {
    background: #333333;
    color: #FFFFFF;
    padding: 3px 5px;
    white-space: nowrap;
    font-size: 0.85em;    
}

.report-wrapper .data-table td {
    padding: 2px 3px;
    font-size: 0.85em;
    text-align: center;
    background-color: #FFF;
}